
.videogallery-elementor-widget{}

.pher_videogallery-item{
  /*this is the wrapper item for each video element, the thub/bg is set via the script*/
  background-size: cover;
  background-position: center center;
  text-align:center;
  min-height: 200px;
  padding:10px;
  padding-bottom: 56.25%;/*16-9 padding bottom sets dimension of wrapper*/
  position:relative;
}
.pher_videogallery-item a{color:#eee!important;}


.pher_videogallery-item .pher_videogallery__content-wrap{
	display: block;
  text-align: center;
}

.pher_videogallery-item .pher_videogallery__content {
	text-align: center;
    display: block;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    max-width: 100%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 2;
}
.pher_videogallery__content h4{color:#FFF!important;}

.pher_videogallery-item .pher_vg_captions {
	position: absolute;
    width: 100%;
    bottom: 100%;
    margin: 0;
    opacity: 0;
    -webkit-transition: opacity .2s ease-in-out 0s;
    transition: opacity .2s ease-in-out 0s;
}